<% if @reply.valid? %>
    $('#replies').append('<tr><td><%=@reply.user_id%></td><td><%=@reply.created_at%></td><td><%= j render 'edit_link' %></td><td><%= j render 'destroy_link' %></td></tr>');
<% else %>
    console.log('Reply has not being created');
<% end %>