%h3 Graphs
= label_tag :sort_by, "Sort by"
= select_tag :sort_by, options_for_select(["Year", "Quarter", "Month", "Week", "Day", ["Hour", "hour_of_day"]])

= line_chart day_counts, id: "shifts-chart", label: "Shifts", curve: false, title: "Shifts by Day",
                         library: {vAxis: {ticks: day_counts.values}}
                         
:javascript
  $().ready(function() {
    function options_default(sb) {
      return { label: "Shifts", curve: false, title: "Shifts by " + sb };
    }
    $("#sort_by").change(function() {
      $.ajax("#{shifts_admin_volunteer_path(params[:id])}", {
               data: { sort_by: $("#sort_by").val().toLowerCase() },
               success: function(data) {
                 Chartkick.charts["shifts-chart"].updateData(data, options_default($("#sort_by :selected").text()))
               },
               error: function(xhr, status, err) {
                 alert("Something went wrong!")
                 console.debug(err)
               }
      })
    })
  })