%meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no", "http-equiv" => "Content-Type"}/
%title PALS Database
= stylesheet_link_tag 'active_admin', 'media' => 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'active_admin', 'data-turbolinks-track' => true
= csrf_meta_tags