// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left-col{
  text-align: right;
  font-size: 18px;
  line-height:21px;
  font-family: Georgia;
}

.right-col{
  text-align: center;
  font-size: 18px;
  margin-top:-50px;
  font-family: Georgia;
}

.faded{
	color:#bbbbbb;
}
	
.padded{
    margin-bottom:20px;
}

.field{
    font-size:19px;
}

.container {
  height:100vh;
}

html, body {
  height:100vh;
  margin: 0;
  padding: 0;
  background: White;
  color: Black;
  font-family: Georgia;
  font-size: 1em;
}
div#main {
  margin: 0;
  padding: 0 20px 0;
}
a {
  background: transparent;
  color: #4E0B00 !important;
  text-decoration: underline;
  font-weight: bold;
  
    &:hover {
    color: #fff !important;
    background-color: #000;
    }
}
h1 {
  color: #4B0082;
  font-size: 150%;
  font-style: italic ;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 0;
  padding: 10px;
  background-color: #4B0082;
  color: white;
  border-bottom: 4px solid #A88BD7;
  font-size: 2em;
  font-style: normal;
}
h2{
  font-size:2em;
  font-weight: bold;
  font-family: Georgia;
  margin:10px 0 0 0;
}
