// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.left-col{
  text-align: right;
  font-size: 18px;
  line-height:21px;
}

.right-col{
  text-align: center;
  font-size: 18px;
  margin-top:-37px;
}

.faded{
	color:#bbbbbb;
}
	
.padded{
    margin-bottom:20px;
}

.field{
    font-size:19px;
}

