/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "kickstart";
 @import "kickstart-buttons";
 @import "kickstart-grid";
 @import "kickstart-menus";
 @import "jquery.fancybox-1.3.4";
 @import "bootstrap";
 
.left-col{
  text-align: right;
  font-size: 18px;
  line-height:21px;
}

.right-col{
  text-align: center;
  font-size: 18px;
  margin-top:-37px;
}

.faded{
	color:#bbbbbb;
}
	
.padded{
    margin-bottom:20px;
}

.field{
    font-size:19px;
}